# Database Configuration
# Para desenvolvimento local, use: postgresql://postgres:postgres@localhost:5432/finance_db?schema=public
# Para Docker: postgresql://postgres:postgres@postgres:5432/finance_db?schema=public
DATABASE_URL="postgresql://user:password@localhost:5432/finance_db?schema=public"

# Server Configuration
PORT=3000

# Environment
# Valores possíveis: development, production, test
NODE_ENV=development
